.project-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;
}

.projects-page {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 2rem;


}
.project-card {
  background: white;

  border-radius: 16px;

  overflow: hidden;

  box-shadow:
    0 10px 25px rgba(0,0,0,.08);

  transition: transform .3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 220px;

  object-fit: cover;
}

.project-btn {
  border: 1px solid var(--silver);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.project-content {
  padding: 1.5rem;
  max-width: 300px;
}

.project-content h3 {
  margin-top: 0;
}

.tech-stack {
  color: var(--grey-olive);

  font-weight: 500;
}

/* Github */

.repo-card {
  display: grid;

  grid-template-columns:
    3fr
    1fr
    1fr
    1fr;

  align-items: center;

  background: white;

  padding: 1.5rem;

  border-radius: 12px;

  margin-bottom: 1rem;

  box-shadow:
    0 5px 15px rgba(0,0,0,.05);
}

.github-header {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.github-btn {
  background-color: var(--graphite);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
